## Importing the Python Libraries 

Also I have imported the StocksUtil Class for API Calls to Polygon API

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import StocksUtil as SDC

# Checking the results List

In [19]:
API ="h6RZqPfMU9bQoqLk6z05ZUScbJy3Ri9T"
start_date="2022-01-01"
end_date="2022-12-31"
#date_list=[["2021-01-01","2021-12-31"],["2022-01-01,2022-12-31"],["2023-01-01","2023-04-05"]]
Stock_Symbol="MSFT" # pass the ticker for the stock you want to analyse the data for viz. MSFT, APPL etc. 
stocks=SDC.StocksData(API) # Put your API Key here

#for date in date_list:
data=stocks.get_data(Stock_Symbol,"2021-01-01","2021-12-31")
data1=stocks.get_data(Stock_Symbol,start_date,end_date)
data2=stocks.get_data(Stock_Symbol,"2023-01-01","2023-04-01")

result=pd.concat([data,data1,data2])
result.head()

,v,vw,o,c,h,l,t,n,timestamp
0,23209260.0,259.0721,260.19,258.74,261.48,257.821,1618804800000,293641,2021-04-19 04:00:00
1,19722875.0,258.2719,257.82,258.26,260.20,256.840,1618891200000,281309,2021-04-20 04:00:00
2,23990383.0,259.5750,258.94,260.58,260.68,257.250,1618977600000,272767,2021-04-21 04:00:00
3,25593777.0,258.4190,260.21,257.17,261.78,255.640,1619064000000,368851,2021-04-22 04:00:00
4,21499286.0,260.3770,257.88,261.15,261.51,257.270,1619150400000,248124,2021-04-23 04:00:00

In [20]:
result.to_csv("Microsoft_Data.csv",index=False)